@define-color base            #1a1a1a;
@define-color text            #eeeeee;
@define-color blue            #2d4f4c;

window {
    margin: 0px;
    background-color: @base;
    border-radius: 0px;
    border: 1px solid @base;
    color: @text;
    font-family: 'Overpass Nerd Font';
    font-size: 20px;
}

#input {
    margin: 5px;
    border-radius: 3px;
    border: none;
    border-radius: 3px;;
    color: @text;
    background-color: @base;

}

#inner-box {
    margin: 5px;
    border: none;
    background-color: @base;
    color: @base;
    border-radius: 0px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: @base;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @text;
}

#entry:selected {
    background-color: @blue;
    color: @base;
    border-radius: 0px;
    outline: none;
}
